<h1>Patients</h1>
<% @patients.each do |patient| %>

<div><%= link_to patient.full_name, patient_path(patient) %></div>

<% end %>
<hr>
<div><%= link_to "Create New Patient", new_patient_path %></div>

